@model Projeto_File.Models.Hospital

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    @*Div maior*@
    <div class="mb-3 p-2" style="border: solid 1px green;">
        <h5 class="p-1"> Últimas Imagens adicionadas </h5>

        @*Div das fotos*@
        <div class="d-flex flex-wrap p-3">
            <div class="mr-2">
                <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
            </div>
            <div class="mr-1">
                <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
            </div>
            <div class="mr-1">
                <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
            </div>
            <div class="mr-1">
                <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
            </div>
            <div class="mr-1">
                <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
            </div>
            <div class="mr-1">
                <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
            </div>
        </div>
    </div>
</div>

    @*Div dos usuarios*@
    <div class="table" style="border: solid 1px red;">
        <h5 class="p-2 mr-2 align-content-center"><span class="oi oi-align-left small"></span> Usuários já cadastrados </h5>
        @await Component.InvokeAsync("Usuarios")

    </div>

