@model Projeto_File.Models.Hospital

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container m-4" style="border: solid 1px blue;">
    @*Div maior*@
    <h4 class="p-2 mb-0 text-center"> Últimas Imagens adicionadas </h4>
    <hr />
    @*Div das fotos*@
    <div class="d-flex flex-wrap p-3 mb-3" style="border: solid 1px green;">
        <div class="m-2">
            <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
        </div>
        <div class="m-2">
            <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
        </div>
        <div class="m-2">
            <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
        </div>
        <div class="m-2">
            <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
        </div>
        <div class="m-2">
            <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
        </div>
        <div class="m-2">
            <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
        </div>
        <div class="m-2">
            <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
        </div>
        <div class="m-2">
            <img width="150" height="150" src="@Url.Action("BuscarHospital", "Hospitais", Model)" />
        </div>
    </div>

    <hr />

    @*Div dos usuarios*@
    <div style="border: solid 1px red;">
        <h5 class="p-2 mr-2 align-content-center"><span class="oi oi-align-left small"></span> Usuários já cadastrados </h5>
        <div class="table-responsive">
            @await Component.InvokeAsync("Usuarios")
        </div>
    </div>

</div>


