@model IEnumerable<Projeto_File.Models.Usuario>

<table class="table-striped table-hover" style="max-width:100%;">
    <thead>
        <tr>
            <th>   @Html.DisplayNameFor(item => item.Nome)</th>
            <th>@Html.DisplayNameFor(item => item.Sobrenome)</th>
            <th> @Html.DisplayNameFor(item => item.Cidade) </th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
            { 
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.Nome) </td>
                    <td> @Html.DisplayFor(modelItem => item.Sobrenome) </td>
                    <td> @Html.DisplayFor(modelItem => item.Cidade) </td>
                </tr>
            }        
    </tbody>
</table>